In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1730,tt0481141,28000000,92601050,No Reservations,Catherine Zeta-Jones|Aaron Eckhart|Abigail Bre...,Scott Hicks,Life isn't always made to order.,Master chef Kate Armstrong runs her life and h...,104,Comedy,Village Roadshow Pictures|Castle Rock Entertai...,7/25/2007,6.0,2007
505,tt0209163,98000000,433013274,The Mummy Returns,Brendan Fraser|Rachel Weisz|John Hannah|Arnold...,Stephen Sommers,The most powerful force on earth is about to b...,"Rick and Evelyn O'Connell, along with their 8 ...",130,Action|Adventure|Drama|Fantasy|Horror,Universal Pictures|Alphaville Films|Imhotep Pr...,4/28/2001,5.8,2001
642,tt0494238,60000000,57490374,Inkheart,Brendan Fraser|Sienna Guillory|Andy Serkis|Eli...,Iain Softley,Every story ever written is just waiting to be...,The adventures of a father and his young daugh...,106,Adventure|Family|Fantasy,New Line Cinema|Internationale Filmproduktion ...,12/11/2008,5.8,2008
315,tt1160368,20000000,17280326,12 Rounds,John Cena|Ashley Scott|Brian J. White|Aidan Gi...,Renny Harlin,Survive all 12,When New Orleans cop Danny Fisher prevents a b...,108,Action|Adventure|Drama|Thriller,The Mark Gordon Company|Fox Atomic|20th Centur...,3/19/2009,5.9,2009
843,tt0844993,30000000,13521829,Hoodwinked Too! Hood VS. Evil,Hayden Panettiere|Bill Hader|Joan Cusack|Patri...,Mike Disa,Not All Fairy Tales Go By the Book.,Red Riding Hood is training in the group of Si...,86,Comedy|Animation|Family,HW Two,4/29/2011,4.9,2011

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit']=data['revenue'] - data['budget']
data.append(data['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888
0,tt0369610,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1392190,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120.0,Action|Adventure|Science Fiction|Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt2908446,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119.0,Adventure|Science Fiction|Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt2488496,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136.0,Action|Adventure|Science Fiction|Fantasy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt2820852,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137.0,Action|Crime|Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0192255,22000000.0,1.355599e+07,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95.0,Horror|Family|Foreign,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,tt0131704,76000000.0,3.513482e+07,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88.0,Adventure|Animation|Action|Comedy|Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887,tt0162983,40000000.0,3.603791e+07,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94.0,Comedy|Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1888,tt0163676,15000000.0,5.217498e+06,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105.0,Thriller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6439124.0,-19814759.0,-10300000.0,-11627590.0,12609995.0,82299717.0,-8444012.0,-40865180.0,-3962091.0,-9782502.0

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [5]:
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111) +' #+

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [9]:
data.loc[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '3. Winnie the Pooh (tt1449283) +'  # +

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = '2. 110  +'  # +

In [14]:
data.runtime.mean()

109.6585494970884

In [15]:
'''В описании нашего файла в столбце runtime значения числовые,
а значит по ним выдается сводная таблица по различным характеристикам, 
среди которых есть и среднее значение'''
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = '1. 107  +'  # +

In [17]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [11]:
answers['6'] = '5. Avatar (tt0499549)  +'

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [12]:
answers['7'] = '5. The Lone Ranger (tt1210819)  +'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
len(data.loc[data.revenue > data.budget])

1478

In [13]:
answers['8'] = '1. 1478  +'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
answers['9'] = '4. The Dark Knight (tt0468569)  +'

In [25]:
#Проверяем два условия (кассовость и год), выводим 2-3 верхних (вдруг будут одинаковые значения)
data.loc[( data.revenue > data.revenue.mean()) & (data.release_year == 2008)].head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008,341311860

In [35]:
data[data.revenue == data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
answers['10'] = '5. The Lone Ranger (tt1210819)  +'

In [27]:
data[data.profit == data[(data.release_year >=2012)&( data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

In [16]:
answers['11'] = '3. Drama  +'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
data = data[data.profit > 0]
collections.Counter(data.genres.str.cat(sep = '|').split('|')).most_common()[:2]

[('Drama', 560), ('Comedy', 551)]

In [17]:
answers['12'] = '1. Drama  +'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [18]:
answers['13'] = '5. Peter Jackson  +'

In [33]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['director'] = data['director'].apply(lambda x: x.split('|'))
data_director=data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
import pandas as pd
import collections
data=pd.read_csv('movie_bd_v5.csv')
data = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data['director'].str.cat(sep = '|').split('|')).most_common(2)

[('Robert Rodriguez', 9), ('Michael Bay', 7)]

In [19]:
answers['14'] = '3. Robert Rodriguez  +'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
answers['15'] = '3. Chris Hemsworth  +'

In [37]:
data = data.query('release_year == 2012')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(2)

cast
Chris Hemsworth    1564364693
Chris Evans        1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
answers['16'] = '3. Matt Damon  +'

In [39]:
data=pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_director=data.explode('cast')
data_director.loc[data_director['budget'] > data_director['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Eddie Murphy            15
Tom Cruise              15
                        ..
Sam Claflin              1
Luke Ford                1
Julia Ormond             1
Benedict Cumberbatch     1
Jimmi Simpson            1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
data=pd.read_csv('movie_bd_v5.csv')
data=data[data.cast.str.contains('Nicolas Cage')]
Counter(data.genres.str.split('|').sum()).most_common(2)

[('Action', 17), ('Thriller', 15)]

In [22]:
answers['17'] = '2. Action  +'

# 18. Самый убыточный фильм от Paramount Pictures

In [23]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)  +'

In [43]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue'] - data['budget']
data.append(data['profit'])
data = data[data.production_companies.str.contains('Paramount Pictures')]
data = data.sort_values('profit', ascending=False)
data.tail(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
data = data.explode('release_year')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(2)

release_year
2011    3313662363
2014    2040210190
Name: revenue, dtype: int64

In [24]:
answers['19'] = '5. 2015  +'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [25]:
answers['20'] = '1. 2014  +'

In [47]:
data = data[data.production_companies.str.contains('Warner Bros')]
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(3)

release_year
2014    621752480
2008    333932083
2009    185258983
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
answers['21'] = '4. Сентябрь  +'

In [49]:
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])
data.append(data['month'])
data = data.explode('month')
data.groupby(['month'])['imdb_id'].nunique().sort_values(ascending=False).head(3)

month
3     2
11    2
12    1
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
answers['22'] = '2. 450  +'

In [51]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
data.release_date=data.release_date.apply(lambda x: x.split('/'))
data.month=data.release_date.apply(lambda x:x[0])
pivot=data.loc[data.month.isin(['6','7','8'])]
pivot.imdb_id.nunique()

<ipython-input-51-94e039ef20a8>:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.month=data.release_date.apply(lambda x:x[0])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = '5. Peter Jackson  +'

In [28]:
data.director=data.director.apply(lambda x: x.split('|'))
data.release_date=data.release_date.apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])
data.append(data['month'])
pivot=data.loc[data.month.isin(['12','1','2'])]
pivot.director.value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
import pandas as pd
data=pd.read_csv('movie_bd_v5.csv')
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies_df = data.explode('production_companies_list')
answer = production_companies_df.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]
print(answer)

Four By Two Productions

In [30]:
answers['24'] = '5. Four By Two Productions  +'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
import pandas as pd
data25=pd.read_csv('movie_bd_v5.csv')
data25['production_companies']=data25['production_companies'].apply(lambda x:x.split("|"))
data_pc25=data25.explode('production_companies')
data_pc25['wordsnumber']=data_pc25['overview'].str.split().apply(len)
#display(data_pc25)
s=data_pc25.groupby('production_companies').wordsnumber.mean().sort_values(ascending=False)
s.head(2)

production_companies
Midnight Picture Show    175.0
Room 9 Entertainment     161.0
Name: wordsnumber, dtype: float64

In [31]:
answers['25'] = '3. Midnight Picture Show  +'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave  +'

In [4]:
data26 = data.sort_values('vote_average')[['original_title', 'vote_average']]
data26.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending=False).head(20)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
118                                    Interstellar           8.0
34                                             Room           8.0
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1183                        The Wolf of Wall Street           7.9
370                                       Inception           7.9
119                         Guardians of the Galaxy           7.9
1800                                        Memento           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8
283                                      Mr. Nobody           7.8
1688                            There Will Be Blood           7.8
863           The Lord of the Rings: The Two Towers           7.8
155                        The Theory of Everything           7.8
1563          Eternal Sunshine of the Spotless Mind           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [33]:
answers['27']='5. Daniel Radcliffe & Rupert Grint  +'

In [ ]:
data.cast=data.cast.apply(lambda x: x.split('|'))

data27=data.cast.reset_index()

data27['pairs']=data27.cast.apply(lambda s: list(itertools.combinations(s, 2)))

data27=data27.explode('pairs').reset_index()
collections.Counter(data27['pairs']).most_common(5)

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283) +',
 '4': '2. 110  +',
 '5': '1. 107  +',
 '6': '5. Avatar (tt0499549)  +',
 '7': '5. The Lone Ranger (tt1210819)  +',
 '8': '1. 1478  +',
 '9': '4. The Dark Knight (tt0468569)  +',
 '10': '5. The Lone Ranger (tt1210819)  +',
 '11': '3. Drama  +',
 '12': '1. Drama  +',
 '13': '5. Peter Jackson  +',
 '14': '3. Robert Rodriguez  +',
 '15': '3. Chris Hemsworth  +',
 '16': '3. Matt Damon  +',
 '17': '2. Action  +',
 '18': '1. K-19: The Widowmaker (tt0267626)  +',
 '19': '5. 2015  +',
 '20': '1. 2014  +',
 '21': '4. Сентябрь  +',
 '22': '2. 450  +',
 '23': '5. Peter Jackson  +',
 '24': '5. Four By Two Productions  +',
 '25': '3. Midnight Picture Show  +',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave  +',
 '27': '5. Daniel Radcliffe & Rupert Grint  +'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

27